---
layout: layouts/base.njk
---
<section class="page-content-wrap">
  <header class="page-header">
    <h1 class="page-title ct">{{ title }}</h1>
    <hr>
  </header>
  <main class="page-content">
    {{ content | safe }}
  </main>
  <section class="page-end-wrap">
    <div class="page-end">
      <div class="logo-mark">
        <img src="/assets/svg/logo-mark.svg" alt="">
      </div>
    </div>
  </section>
</section>
