html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  color: #414141;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-rendering: optimizeLegibility;
}

p {
  margin: 0 0 40px 0;
}

@media (max-width: 48rem) {
  p {
    margin-bottom: 1.875rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0e0e0e;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin: 0 0 1.875rem 0;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #5b5b5b;
  font-size: 60%;
  line-height: 0;
}

h1 {
  font-size: 2rem;
  line-height: 2.4375rem;
}

h2 {
  font-size: 1.625rem;
  line-height: 2.0625rem;
}

h3 {
  font-size: 1.3125rem;
  line-height: 1.75rem;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.5625rem;
}

h5 {
  font-size: 1rem;
  line-height: 1.375rem;
}

h6 {
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

a {
  color: #0d7395;
  outline: none;
  text-decoration: none;
  transition-duration: 0.4s;
}

a:hover {
  color: #d93d00;
}

strong {
  color: #0e0e0e;
  font-weight: 700;
}

small {
  color: #5b5b5b;
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

code {
  color: #5b5b5b;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
}

.center-text,
.text-center,
.ct {
  text-align: center;
}

.right-text,
.text-right,
.rt {
  text-align: right;
}

blockquote {
  border: none;
  color: #000;
  font-family: 'Playfair Display', serif;
  font-size: 1.3125rem;
  font-style: italic;
  font-weight: 400;
  line-height: 2.125rem;
  margin: 0 0 1.25rem 0;
  min-height: 2.1875rem;
  padding: 0.625rem 0 0 0;
  position: relative;
  text-align: left;
  z-index: 2;
  z-index: 1;
}

blockquote p {
  padding: 0;
}

blockquote p:last-child {
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

blockquote:before {
  color: #dbdbdb;
  content: "“";
  font-size: 0.875rem;
  font-style: normal;
  left: 12%;
  position: absolute;
  top: 1.75rem;
  z-index: -1;
}

@media (max-width: 48rem) {
  blockquote:before {
    left: -1.25rem;
  }
}

figcaption,
cite {
  color: #5b5b5b;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.0625rem;
  line-height: 1rem;
  margin: 0 0 2.5rem 0;
  padding: 0 0 0.625rem 0;
  text-align: left;
  text-transform: uppercase;
}

figcaption:before,
cite:before {
  content: "\2014\00a0";
  display: inline-block;
}

.break-header {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  margin-bottom: 2.5rem;
}

.break-header:before,
.break-header:after {
  display: inline-block;
  height: 2.875rem;
  position: relative;
  top: 1rem;
  width: 5.9375rem;
}

@media (max-width: 65.625rem) {
  .break-header:before,
  .break-header:after {
    height: inherit;
    top: inherit;
    width: inherit;
  }
}

.break-header:before {
  content: url(../svg/flourish-left.svg);
  padding-right: 1.875rem;
}

@media (max-width: 65.625rem) {
  .break-header:before {
    content: "";
    padding: 0;
  }
}

.break-header:after {
  content: url(../svg/flourish-right.svg);
  padding-left: 1.875rem;
}

@media (max-width: 65.625rem) {
  .break-header:after {
    content: "";
    padding: 0;
  }
}

.tag {
  font-family: 'Playfair Display', serif;
  font-size: 0.75rem;
  font-style: italic;
  letter-spacing: 0.0625rem;
  line-height: 0.75rem;
  text-transform: uppercase;
}

.sidenote {
  background: #ebebeb;
  border: 0.0625rem solid #dbdbdb;
  border-radius: 0.25rem;
  color: #282828;
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.875rem;
  margin: 5% 0 5% 5%;
  padding: 3%;
  text-align: center;
  width: 40%;
}

@media (max-width: 48rem) {
  .sidenote {
    float: none;
    margin: 5% auto;
    width: 70%;
  }
}

@media (max-width: 25rem) {
  .sidenote {
    width: 100%;
  }
}

.pullquote {
  border-bottom: 0.0625rem solid #ccc;
  border-top: 0.0625rem solid #ccc;
  color: #282828;
  float: right;
  font-family: 'Playfair Display', serif;
  font-size: 1.625rem;
  font-style: italic;
  line-height: 2.25rem;
  margin: 5% 0 5% 5%;
  padding: 5% 0;
  text-align: center;
  width: 40%;
}

@media (max-width: 48rem) {
  .pullquote {
    float: none;
    font-size: 1.3125rem;
    line-height: 1.9375rem;
    margin: 5% auto;
    width: 70%;
  }
}

@media (max-width: 25rem) {
  .pullquote {
    width: 100%;
  }
}

.post-content .journal-block {
  bottom: 0;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  margin-bottom: 2.5rem;
  padding: 0 20%;
  position: relative;
}

.post-content .journal-block p {
  padding: 0;
}

.post-content .journal-block p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

@media (max-width: 48rem) {
  .post-content .journal-block {
    padding: 0;
  }
}

.journal-block:before,
.journal-block:after {
  background: #b3b3b3;
  content: "";
  display: block;
  height: 0.0625rem;
  width: 40%;
}

@media (max-width: 48rem) {
  .journal-block:before,
  .journal-block:after {
    width: 100%;
  }
}

.journal-block:before {
  margin-bottom: 2.5rem;
}

.journal-block:after {
  margin-top: 2.5rem;
}

.meta {
  color: #818181;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  font-style: italic;
  letter-spacing: 0.0625rem;
  line-height: 1rem;
}

.meta .author,
.meta .category {
  font-style: normal;
  text-transform: uppercase;
}

.wp-caption {
  color: #5b5b5b;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.0625rem;
  font-weight: 300;
  line-height: 1.4375rem;
  text-align: center;
  width: 100% !important;
}

.wp-caption img {
  margin-bottom: 1.25rem;
}

p.intro {
  color: #0e0e0e;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3125rem;
  font-weight: 400;
  line-height: 2.0625rem;
  margin: 0 0 3.75rem 0;
  padding: 0;
}

@media (max-width: 48rem) {
  p.intro {
    font-size: 1.1875rem;
    line-height: 1.875rem;
    margin-bottom: 1.875rem;
  }
}

.post-header .post-title,
.page-title {
  color: #000;
  font-family: 'Playfair Display', serif;
  font-size: 2.875rem;
  font-style: italic;
  font-weight: 400;
  line-height: 3.375rem;
  margin: 0;
  padding: 0 0 0.9375rem 0;
}

@media (max-width: 48rem) {
  .post-header .post-title,
  .page-title {
    font-size: 2.25rem;
    line-height: 2.6875rem;
  }
}

ul,
ol {
  margin: 0 0 1.875rem 2.5rem;
  padding: 0;
}

ul li,
ol li {
  list-style-position: outside;
  margin-bottom: 0.3125rem;
}

ul li ul,
ul li ol,
ol li ul,
ol li ol {
  margin-top: 0.625rem;
}

ul li {
  list-style: disc;
}

ol li {
  list-style: decimal;
}

dl {
  margin: 0 0 1.875rem 0;
  overflow: hidden;
}

dl dt,
dl dd {
  float: left;
}

dl dt {
  clear: both;
  font-weight: 700;
  margin: 0 0 0.4375rem 0;
  overflow: hidden;
  text-align: right;
  width: 30%;
}

dl dd {
  margin: 0 0 0.4375rem 0;
  padding-left: 1.25rem;
  width: 70%;
}

@media (max-width: 48rem) {
  dl dt,
  dl dd {
    float: none;
    text-align: left;
    width: 100%;
  }

  dl dt {
    margin: 0;
  }

  dl dd {
    margin: 0 0 0.4375rem 0;
    padding: 0;
  }
}

ul.two-col-list {
  font-size: 0;
  margin: 0 -0.625rem 2.5rem -0.625rem;
  padding: 0;
}

ul.two-col-list li {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.375rem;
  list-style: none;
  margin: 0 0 0.625rem 0;
  padding: 0 0.625rem;
  width: 50%;
}

@media (max-width: 48rem) {
  ul.two-col-list li {
    float: none;
    width: 100%;
  }
}

ul.three-col-list {
  font-size: 0;
  margin: 0 -0.625rem 2.5rem -0.625rem;
  padding: 0;
}

ul.three-col-list li {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.375rem;
  list-style: none;
  margin: 0 0 0.625rem 0;
  padding: 0 0.625rem;
  width: 33.33333333%;
}

@media (max-width: 48rem) {
  ul.three-col-list li {
    float: none;
    width: 100%;
  }
}
