.content {
  background: #f7f7f7;
  min-height: 18.75rem;
  position: relative;
  z-index: 1;
}

.post-content {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.75rem;
  max-width: 1000px;
  padding: 3% 5% 5% 5%;
  position: relative;
  width: auto;
  *zoom: 1;
}

.post-content:before,
.post-content:after {
  content: '';
  display: table;
}

.post-content:after {
  clear: both;
}

@media (max-width: 48rem) {
  .post-content {
    padding: 1.875rem;
  }
}

.page-footer,
.page-content {
  padding-bottom: 5%;
}

:is(.page-content, .post-content) > :is(p, ul, ol, dl, h1, h2, h3, h4, h5, h6) {
  padding: 0 12%;
}

@media (max-width: 48rem) {
  :is(.page-content, .post-content) > :is(p, ul, ol, dl, h1, h2, h3, h4, h5, h6) {
    padding: 0;
  }
}

:is(.page-content, .post-content) :is(blockquote, cite, figcaption) {
  padding: 0 20%;
}

@media (max-width: 48rem) {
  :is(.page-content, .post-content) :is(blockquote, cite, figcaption) {
    padding: 0 3%;
  }
}

:is(.page-content, .post-content) :is(.aligncenter, .alignnone),
:is(.page-content, .post-content) img {
  margin: 1.25rem auto 1.875rem auto;
}

:is(.page-content, .post-content) blockquote p {
  padding: 0;
}

:is(.page-content, .post-content) :is(h1, h2, h3, h4, h5, h6) {
  padding-top: 1.25rem;
}

:is(.page-content, .post-content) p.intro {
  padding-left: 0;
  padding-right: 0;
}

.page-content-wrap {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.75rem;
  max-width: 1000px;
  padding: 3%;
  width: auto;
  *zoom: 1;
}

.page-content-wrap:before,
.page-content-wrap:after {
  content: '';
  display: table;
}

.page-content-wrap:after {
  clear: both;
}

@media (max-width: 48rem) {
  .page-content-wrap {
    padding: 1.875rem;
  }
}

.page-header {
  margin-bottom: 5%;
  padding: 0 1.875rem;
}

.page-header .page-title {
  margin: 0;
  padding: 0;
}

.page-header .page-title span {
  color: #414141;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  letter-spacing: 0.1875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
}

.page-header hr {
  padding: 0;
}
