.branding {
  background: #094f66;
  box-shadow: 0 0.1875rem 0.375rem rgba(0,0,0,0.1);
  height: 3.75rem;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.branding .row {
  position: relative;
  width: 100%;
}

.logo-and-primary-nav {
  left: 0;
  position: absolute;
  top: 0;
  width: 70%;
}

@media (max-width: 48rem) {
  .logo-and-primary-nav {
    width: 80%;
  }
}

.logo {
  border-right: 0.0625rem solid #07394a;
  float: left;
  height: 60px;
  margin-right: 1.25rem;
  padding-right: 1.25rem;
  width: auto;
}

@media (max-width: 65.625rem) {
  .logo {
    border-right: none;
    margin-right: 0.625rem;
  }
}

@media (max-width: 48rem) {
  .logo {
    margin-right: 0;
    padding-right: 0;
  }
}

.logo a {
  background: url(../images/logo.png) no-repeat;
  background-size: 8.5rem 2.125rem;
  display: block;
  height: 2.125rem;
  margin-top: 0.75rem;
  opacity: 1;
  text-indent: -9999px;
  width: 8.5rem;
}

@media (max-width: 48rem) {
  .logo a {
    margin-left: auto;
    margin-right: auto;
  }
}

.logo a:hover {
  opacity: 0.8;
}

.primary-nav {
  float: left;
  position: relative;
}

@media (max-width: 48rem) {
  .primary-nav {
    display: none;
  }
}

.primary-nav>ul {
  margin: 0 -0.625rem;
  padding: 0;
}

.primary-nav>ul>li {
  cursor: pointer;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.primary-nav>ul>li>a {
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  line-height: 0.875rem;
  padding: 1.4375rem 0.625rem;
  text-decoration: none;
  text-transform: uppercase;
}

.primary-nav>ul>li>a:hover {
  color: #ff7640;
}

.primary-nav>ul>li>ul {
  background: #222;
  display: none;
  left: 50%;
  margin: 0;
  padding: 0.3125rem 0.9375rem;
  position: absolute;
  top: 60px;
  transform: translateX(-50%);
  width: 12.5rem;
}

.primary-nav>ul>li>ul>li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.primary-nav>ul>li>ul>li>a {
  border-bottom: 0.0625rem solid #3c3c3c;
  color: #fff;
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.1875rem;
  padding: 0.4375rem 0;
  text-decoration: none;
}

.primary-nav>ul>li>ul>li>a:hover {
  color: #1198c4;
  text-decoration: none;
}

.primary-nav>ul>li>ul>li:last-child a {
  border-bottom: none;
}

.primary-nav>ul>li>ul.double {
  font-size: 0;
  width: 25rem;
}

.primary-nav>ul>li>ul.double>li {
  display: inline-block;
  padding: 0 0.625rem;
  width: 50%;
}

.primary-nav>ul>li>ul.double>li:nth-child(odd) {
  padding-left: 0.3125rem;
}

.primary-nav>ul>li>ul.double>li:nth-child(even) {
  padding-right: 0.3125rem;
}

.primary-nav>ul>li>ul:before {
  border-bottom: 0.4375rem solid #222;
  border-left: 0.4375rem solid transparent;
  border-right: 0.4375rem solid transparent;
  content: '';
  display: block;
  height: 0;
  left: 50%;
  margin-left: -0.21875rem;
  position: absolute;
  top: -0.4375rem;
  transform: translateX(-50%);
  width: 0;
}

.primary-nav>ul>li>ul.double.even-total>li:nth-last-child(2) a {
  border-bottom: none;
}

.condensed-primary-nav-innerwrap {
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  width: 100%;
}

.condensed-primary-nav-wrap {
  background: #222;
  box-shadow: 0 0 0.375rem rgba(0,0,0,0.15);
  height: 100%;
  left: -25rem;
  position: fixed;
  top: 3.75rem;
  width: 16.875rem;
  z-index: 9999;
}

.condensed-primary-nav {
  margin-bottom: 0;
}

.condensed-primary-nav>ul.top-level {
  margin: 0;
  padding: 0;
}

.condensed-primary-nav>ul.top-level>li {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.condensed-primary-nav>ul.top-level>li .submenu-toggle {
  cursor: pointer;
  height: 2.8125rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 2.8125rem;
}

.condensed-primary-nav>ul.top-level>li .submenu-toggle:after {
  color: #fff;
  content: "\f107";
  display: inline;
  font-family: FontAwesome;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: normal;
  font-weight: 700;
  height: auto;
  left: 50%;
  line-height: 1.0625rem;
  position: absolute;
  text-decoration: inherit;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

.condensed-primary-nav>ul.top-level>li .submenu-toggle:hover:after {
  color: #34bfed;
}

.condensed-primary-nav>ul.top-level>li .submenu-toggle.active:after {
  content: "\f106";
}

.condensed-primary-nav>ul.top-level>li>ul.submenu {
  background: #3c3c3c;
  display: none;
  margin: 0;
  padding: 0.4375rem 0;
  position: relative;
}

.condensed-primary-nav>ul.top-level>li>ul.submenu>li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.condensed-primary-nav>ul.top-level>li>ul.submenu>li>a {
  color: #fff;
  display: block;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0.25rem 1.25rem;
}

.condensed-primary-nav>ul.top-level>li>ul.submenu>li>a:hover {
  color: #34bfed;
}

.condensed-primary-nav>ul.top-level>li>a {
  border-bottom: 0.0625rem solid #3c3c3c;
  color: #fff;
  display: block;
  font-size: 0.8125rem;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  line-height: 1.25rem;
  padding: 0.75rem 1.25rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.condensed-primary-nav>ul.top-level>li>a:hover {
  color: #34bfed;
}

.utility-nav-and-social-nav-wrap {
  position: absolute;
  right: 1.25rem;
  top: 0;
  width: 30%;
}

@media (max-width: 48rem) {
  .utility-nav-and-social-nav-wrap {
    width: 20%;
  }
}

.utility-nav-and-social-nav {
  float: right;
}

.utility-nav {
  border-right: 0.0625rem solid #07394a;
  float: left;
  margin-right: 1.25rem;
  padding-right: 1.25rem;
  position: relative;
  top: -0.0625rem;
}

@media (max-width: 65.625rem) {
  .utility-nav {
    border-right: none;
    margin-right: 0;
    padding-right: 0.9375rem;
  }
}

@media (max-width: 48rem) {
  .utility-nav {
    margin-right: 0;
    padding-right: 0;
  }
}

.utility-nav ul {
  margin: 0 -0.625rem;
  padding: 0;
}

@media (max-width: 65.625rem) {
  .utility-nav ul {
    margin: 0 -0.4375rem;
  }
}

.utility-nav ul li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.utility-nav ul li a {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 600;
  height: 3.75rem;
  line-height: 1.3125rem;
  padding: 1.3125rem 0.625rem;
  position: relative;
  text-decoration: none;
}

@media (max-width: 65.625rem) {
  .utility-nav ul li a {
    padding: 1.3125rem 0.4375rem;
  }
}

@media (max-width: 65.625rem) {
  .utility-nav ul li a span {
    display: none;
  }
}

.utility-nav ul li a:hover {
  color: #ff7640;
  text-decoration: none;
}

.utility-nav ul li a:before {
  display: inline;
  font-family: FontAwesome;
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  padding-right: 0.4375rem;
  position: relative;
  text-decoration: inherit;
  top: 0.125rem;
}

@media (max-width: 65.625rem) {
  .utility-nav ul li a:before {
    padding-right: 0;
  }
}

.utility-nav ul li.search-trigger a:before {
  content: "\f002";
}

.utility-nav ul li.active:before {
  border-bottom: 0.4375rem solid #222;
  border-left: 0.4375rem solid transparent;
  border-right: 0.4375rem solid transparent;
  bottom: -0.0625rem;
  content: '';
  display: block;
  height: 0;
  left: 50%;
  margin-left: 0.21875rem;
  position: absolute;
  transform: translateX(-50%);
  width: 0;
}

.utility-nav ul li.subscribe-trigger a:before {
  content: "\f0e0";
}

.social-nav {
  float: left;
}

@media (max-width: 48rem) {
  .social-nav {
    display: none;
  }
}

.social-nav ul {
  margin: 0 -0.4375rem;
  padding: 0;
}

.social-nav ul li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.social-nav ul li a {
  cursor: pointer;
  display: block;
  height: 3.75rem;
  padding: 1.0625rem 0.4375rem 1.1875rem;
  text-decoration: none;
}

.social-nav ul li a span {
  display: none;
}

.social-nav ul li a:before {
  color: #fff;
  transition-duration: 0.4s;
}

.social-nav ul li a:hover:before {
  color: #ff7640;
}

.social-nav ul li a:before {
  color: #fff;
  display: inline;
  font-family: FontAwesome;
  font-size: 1.3125rem;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  text-decoration: inherit;
}

.social-nav ul li.facebook a:before {
  content: "\f09a";
}

.social-nav ul li.twitter a:before {
  content: "\f099";
}

.social-nav ul li.pinterest a:before {
  content: "\f0d2";
}

.condensed-trigger a {
  cursor: pointer;
  display: block;
  height: 3.75rem;
  position: relative;
  text-decoration: none;
  width: 3.75rem;
}

.condensed-trigger a span {
  display: none;
}

.condensed-trigger a:before {
  color: #fff;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  left: 50%;
  position: absolute;
  text-decoration: inherit;
  top: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 0.4s;
}

.condensed-primary-nav-trigger {
  display: block;
  float: left;
}

.condensed-primary-nav-trigger a:before {
  content: "\f0c9";
  font-size: 1.375rem;
  line-height: 22px;
}

.condensed-primary-nav-trigger a:hover:before {
  color: #d93d00;
}

.condensed-primary-nav-trigger.active a:before {
  content: "\f00d";
}

.condensed-search-trigger {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 48rem) {
  .condensed-search-trigger {
    display: block;
  }
}

.condensed-search-trigger a {
  border-left: 0.0625rem solid #07394a;
}

.condensed-search-trigger a:before {
  content: "\f002";
  font-size: 1.25rem;
  line-height: 20px;
}

.condensed-search-trigger a:hover {
  background: #222;
}

.condensed-search-trigger.active a {
  background: #222;
}

.utility-nav-dd-item {
  background: #222;
  box-shadow: 0 0.1875rem 6px rgba(0,0,0,0.1);
  display: none;
  left: 0;
  padding: 1.25rem 3%;
  position: fixed;
  top: 3.75rem;
  width: 100%;
  z-index: 8888;
}

.utility-nav-dd-item form {
  margin: auto;
  max-width: 31.25rem;
  padding: 0;
  padding: 0 3%;
}

.utility-nav-dd-item fieldset {
  position: relative;
}

.utility-nav-dd-item .utility-nav-input {
  background: #fff;
  color: #818181;
  font-family: 'Playfair Display', serif;
  font-size: 0.9375rem;
  font-style: italic;
  height: 2.25rem;
  line-height: 2.25rem;
  padding: 0.625rem 3.875rem 0.625rem 0.75rem;
  width: 100%;
}

.utility-nav-dd-item .utility-nav-submit {
  background: #d93d00;
  border: none;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  height: 2.25rem;
  line-height: 0.75rem;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}

.utility-nav-dd-item .utility-nav-submit:hover {
  background: #ba3400;
}

.utility-nav-dd-item .utility-nav-submit:active {
  background: #ba3400;
  box-shadow: inset 0 0 0.375rem rgba(0,0,0,0.5);
  outline: none;
}

.search-wrap .search-submit {
  width: 3.125rem;
}

.subscribe-wrap .subscribe-submit {
  width: 6.25rem;
}
