ul.scripture-list {
  border-bottom: 0.0625rem solid #ccc;
  margin-bottom: 1.875rem;
  padding-bottom: 1.875rem;
}

ul.scripture-list a {
  display: block;
}

.scripture-category {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-style: italic;
  line-height: 2.25rem;
}

.scripture-category span {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.0625rem;
  margin-bottom: -0.3125rem;
  text-transform: uppercase;
}

.scripture-main {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding-left: 0;
  padding-right: 0;
  width: auto;
  *zoom: 1;
}

.scripture-main:before,
.scripture-main:after {
  content: '';
  display: table;
}

.scripture-main:after {
  clear: both;
}

.scripture-more {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding-left: 0;
  padding-right: 0;
  width: auto;
  *zoom: 1;
}

.scripture-more:before,
.scripture-more:after {
  content: '';
  display: table;
}

.scripture-more:after {
  clear: both;
}

.book-content {
  padding: 1.25rem 0 0 0;
}

.book {
  border-bottom: 0.0625rem solid #b3b3b3;
  margin: 0 0 2.5rem 0;
  padding: 0 0 2.5rem 0;
}

.book-img {
  float: left;
  width: 12.5rem;
}

@media (max-width: 48rem) {
  .book-img {
    float: none;
    width: 100%;
  }
}

@media (max-width: 48rem) {
  .book-img img {
    margin: 0 auto 1.25rem auto;
  }
}

.book-info {
  margin-left: 14.375rem;
}

@media (max-width: 48rem) {
  .book-info {
    margin-left: 0;
  }
}
