ul.two-col-list,
ul.three-col-list,
ul.button-list,
.row,
.header-and-main,
hr,
.primary-nav>ul,
.primary-nav>ul>li>ul,
.utility-nav ul,
.social-nav ul,
.pages-nav,
.footer-social-nav,
.home-blog-details,
.post-end-wrap,
.page-end-wrap,
.related-posts li,
.blog-excerpts,
.blog-excerpt,
.pagination-wrap,
.pagination-wrap .pagination,
.book {
  *zoom: 1;
}

ul.two-col-list:before,
ul.three-col-list:before,
ul.button-list:before,
.row:before,
.header-and-main:before,
hr:before,
.primary-nav>ul:before,
.primary-nav>ul>li>ul:before,
.utility-nav ul:before,
.social-nav ul:before,
.pages-nav:before,
.footer-social-nav:before,
.home-blog-details:before,
.post-end-wrap:before,
.page-end-wrap:before,
.related-posts li:before,
.blog-excerpts:before,
.blog-excerpt:before,
.pagination-wrap:before,
.pagination-wrap .pagination:before,
.book:before,
ul.two-col-list:after,
ul.three-col-list:after,
ul.button-list:after,
.row:after,
.header-and-main:after,
hr:after,
.primary-nav>ul:after,
.primary-nav>ul>li>ul:after,
.utility-nav ul:after,
.social-nav ul:after,
.pages-nav:after,
.footer-social-nav:after,
.home-blog-details:after,
.post-end-wrap:after,
.page-end-wrap:after,
.related-posts li:after,
.blog-excerpts:after,
.blog-excerpt:after,
.pagination-wrap:after,
.pagination-wrap .pagination:after,
.book:after {
  content: '';
  display: table;
}

ul.two-col-list:after,
ul.three-col-list:after,
ul.button-list:after,
.row:after,
.header-and-main:after,
hr:after,
.primary-nav>ul:after,
.primary-nav>ul>li>ul:after,
.utility-nav ul:after,
.social-nav ul:after,
.pages-nav:after,
.footer-social-nav:after,
.home-blog-details:after,
.post-end-wrap:after,
.page-end-wrap:after,
.related-posts li:after,
.blog-excerpts:after,
.blog-excerpt:after,
.pagination-wrap:after,
.pagination-wrap .pagination:after,
.book:after {
  clear: both;
}
